@model List<Game>
@{
    ViewData["Title"] = "Carrello";
}
<h1>Carrello</h1>
@if (Model == null || !Model.Any())
{
    <p>Il carrello è vuoto.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Titolo</th>
                <th>Data di pubblicazione</th>
                <th>Genere</th>
                <th>Prezzo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Model)
            {
                <tr>
                    <td>@game.Nome</td>
                    <td>@game.Descrizione</td>
                    <td>@game.DataRilascio.ToString("dd/MM/yyyy")</td>
                    <td>@game.genere</td>
                    <td>@game.Prezzo.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
}